@media (max-width:799px) {
    .section-padding{
        padding: 2rem 5rem;
    }

    #navbar .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0 ,0 , 0.1);
        padding: 8rem 0 0 1rem;
        transition: 0.3s ease;
    }

#navbar .menu.show-menu{
        right: 0;
    }

    #navbar .menu .item{
        margin-bottom: 1rem;
    }

    #mobile{
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    #mobile i{
        font-size: 2.4rem;
        color: #1a1a1a;
        cursor: pointer;
    }

    #close{
        margin-left: 2.4rem;
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .shopping-bag{
        display: none;
    }



    /* Hero section */

    #hero {
        height: 70vh;
        background-position: top 15% right 40%;
    }

    #hero .hero-content {
        font-size: 3rem;
        width: 100%;
    }


    /* Featured section */
    .product-container {
    justify-content: center;
    }


    /* Banner-2 Section */

    #banner-2 {
       gap: 3rem;
    }


    #banner-2 .banner-box {
        min-width:100%;
        height: 40vh;
    }


    /* Banner-3 Section */

    #banner-3 .banner-box {
        /* min-width: 25%; */
        width: 46%;
    }

    #banner-3 .banner-box:nth-of-type(3) {
       width: 100%;
    }

    #banner {
        padding: 2rem;
    }

    /* News letter section */

    #news-letter {
       justify-content: center;
    }
}

