/* Tablet Devices */

@media (max-width:799px) {
    .section-padding{
        padding: 2rem 5rem;
    }

    #navbar .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0 ,0 , 0.1);
        padding: 8rem 0 0 1rem;
        transition: 0.3s ease;
    }

#navbar .menu.show-menu{
        right: 0;
    }

    #navbar .menu .item{
        margin-bottom: 1rem;
    }

    #mobile{
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    #mobile i{
        font-size: 2.4rem;
        color: #1a1a1a;
        cursor: pointer;
    }

    #close{
        margin-left: 2.4rem;
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .shopping-bag{
        display: none;
    }



    /* Hero section */

    #hero {
        height: 70vh;
        background-position: top 15% right 40%;
    }

    #hero .hero-content {
        font-size: 3rem;
        width: 100%;
    }


    /* Featured section */
    .product-container {
    justify-content: center;
    }


    /* Banner-2 Section */

    #banner-2 {
       gap: 3rem;
    }


    #banner-2 .banner-box {
        min-width:100%;
        height: 40vh;
    }


    /* Banner-3 Section */

    #banner-3 .banner-box {
        /* min-width: 25%; */
        width: 46%;
    }

    #banner-3 .banner-box:nth-of-type(3) {
       width: 100%;
    }

    #banner {
        padding: 2rem;
    }

    /* News letter section */

    #news-letter {
       justify-content: center;
    }


    /* product page */

    #product-view {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    #product-view .product-img {
    width: 100%;
    margin-left: 0;
}

#product-view .product-details input {
    margin: 1.2rem;
}

#blog {
    padding: 6rem 4rem;
    gap: 8rem;
}

.blog-box h1 {
    position: absolute;
    top: -4rem;
    left: 3rem;
    font-size: 7rem;
    z-index: -1;
    opacity: 0.5;
}
#blog .blog-box {
    margin: 0;
}

#who {
    flex-direction: column;
}

.who-img {
    width: 100%;
}
.who-details {
    width: 100%;
}

#about-app .video {
   width: 100%;
}

#about-app video{
    width: 90%;
}

}

/* Mobile Devices */

@media (max-width:477px){
    html{
        font-size: 50%;
    }

    .section-padding{
        padding: 2rem;
    }

    .feature {
        width: 120px;
        padding: 1rem;
    }

    #banner-2 .banner-box {
        background-position: right;
    }

    #banner-3 .banner-box {
        width: 100%;
    }

    #news-letter .news-form .form-style {
        width: 100%;
        border-radius: 0;
    }

    #blog .blog-box {
        flex-direction: column;
    }

    #blog .blog-box .blog-img {
        width: 100%;
    }

    #blog .blog-box .blog-details {
        width: 100%;
        margin-right: 5rem;
    }

    .blog-box h1 {
        top: -6rem;
    }
}




