@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --heading-color:#222;
    --para-color:#465b52;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
font-family: 'League Spartan', sans-serif;
}

h1,h2,h3,h4,h6{
    color: var(--heading-color);
}

p{
        color: var(--para-color);
        margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}