@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --heading-color:#222;
    --para-color:#465b52;
    --main-color:#e3e6f3;
    --light-green:#088178;
    --max-width:1400px;
}

html{
    font-size: 62.5%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
   font-family: 'League Spartan', sans-serif;
}

h1,h2,h3,h4,h6{
    color: var(--heading-color);
}

p{
        color: var(--para-color);
        margin: 10px 0 20px;
}




/* Utility */
body{
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}

.section-padding{
    padding: 2rem 8rem;
}

.highlighter{
    color: red;
}

.btn{
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-radius: 6px;
}

.btn-shop{
    border: 0;
    background-color: transparent;
    background: url('../img/button.png') no-repeat;
    padding: 1.4rem 8rem 6.5rem;
    font-size: 2rem;
}

.btn-normal{
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    color: #333;
}

.btn-normal:hover{
    background-color: #088178;
    color: white;
}

/* Navbar */

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index:999;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--main-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar .menu{
    list-style: none;
    display: flex;
    align-items: center;

}

#navbar .menu .item{
    margin: 0 1rem;
    position: relative;
}

.item a{
    padding: 1.8rem 2rem;
    font-weight: 600;
    color: #1a1a1a;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;
}


#navbar .menu .item a:hover{
    color: var(--light-green);
}

.item a:hover::after, #active::after{
    color: var(--light-green);
    content: '';
    width: 30px;
    background-color: var(--light-green);
    position: absolute;
    height: 3px;
    margin: auto;
    top: 24px;
    left: 19px;
    color: var(--light-green);
}

#active{
    color: var(--light-green);
}


/* Header Section */

#hero{
    background: url('../img/hero4.png');
    height: 90vh;
    background-position: top 15% right 0;
 background-size: cover;
 display: flex;
 align-items: center;
}

#hero .hero-content{
    font-size: 3rem;
    width: 50%;
}

#hero .hero-content p{
    font-size: 1.6rem;
    color: var(--para-color);
}

#hero .hero-content h1{
    color: var(--light-green);
}


/* Features Section */

.features-container{
    text-align: center;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features-container h4{
    padding: 1rem;
    color: var(--light-green);
}

.feature{
   width: 180px;
   padding: 2.5rem 1.5rem;
   box-shadow: 2rem 2rem 3.4rem rgba(0, 0, 0, 0.03);
   border: 1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0;
   cursor: pointer;
}


.feature img{
    width: 100%;
}
.feature:hover{
    box-shadow: 1rem 1rem 2.4rem rgba(0, 0, 0, 0.03);
}

.feature h4{
    margin-top: 1rem;
    padding: 0.8rem;
    display: inline-block;
    border-radius: 6px;
}


.feature:nth-of-type(1) h4{
background-color: #fddde4;
}
.feature:nth-of-type(2) h4{
background-color: #cdebbc;
}
.feature:nth-of-type(3) h4{
background-color: #d1e8f2;
}
.feature:nth-of-type(4) h4{
background-color: #cdd4f8;
}
.feature:nth-of-type(5) h4{
background-color: #f6dbf6;
}
.feature:nth-of-type(6) h4{
background-color: #fff2e5;
}



/* Product Section */
#products{
    text-align: center;
}

#products h2{
 font-size: 5.6rem;
}

.pro{
    position: relative;
    width: 23%;
    min-width: 250px;
    border: 1px solid #cce7d0;
    padding: 1.4rem ;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.02);
    transition: 0.2s ease;
}

.pro:hover{
    box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.05);

}
.pro img{
    width: 100%;
    border-radius: 1rem;
}


/* Product Container */
.product-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: 2.5rem;
}


/* Product info */

.product-info {
    text-align: start;
}

.product-info p{
    color: var(--para-color);
    margin: 0;
}
.product-info i{
    color: wheat;
}

.product-info h4{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--light-green);
}

.cart{
    position: absolute;
    top: 87%;
    right: 8%;
    background-color: #e2e3e5;
    padding: 1rem;
    border-radius: 100%;
}

/* Section Banner */

#banner{
    color: white;
    margin-top: 5rem;
    text-align: center;
    background: url('../img/banner/b2.jpg');
    background-size: cover;
    width: 100%;
    height: 32vh;
    padding: 4rem 2rem;
}

#banner h2{
        font-size: 5rem;
        color: white;
        margin-bottom: 1rem;
}

